.my-bookings-container{
    min-height:100vh;
    background:#0a0e27;
    padding:40px;
    color:white;
}

.my-bookings-container h1{
    text-align:center;
    margin-bottom:30px;
}

.booking-card{
    width:400px;
    margin:auto;
    background:#121933;
    padding:25px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
}

.booking-card p{
    margin:12px 0;
    font-size:18px;
}